/*element that contains all search results*/
#results{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

/*the parent element of every result*/
.result{
    display:flex;
    flex-direction: column;
    margin: 20px;
    width: 200px;
}

.result p{
    margin: 5px;
    text-align: center;
}

.result *{
    max-width: 100%;
}

.result > img{
    height: 100%;
    width: 100%;
}

#gridParent{
    display: grid;

    grid-template-areas:
    "header  header  header"
    ".       search  .     "
    ".       results .     "
    "footer  footer  footer";
    grid-template-rows: 1fr, 2fr, 2fr, 1fr;
}

#heading{
    display: flex;
    grid-area: header;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url("../CherryBlossoms.gif") no-repeat bottom;
    background-size: 100vw 100vh;
    height: 30vh;
    margin: 0px;    
}